.card-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  background-color: #f3f4f6;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tablet y Desktop */
@media (min-width: 640px) {
  .card-image {
    height: 200px;
  }
}
