.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  transition: background-color 0.3s, color 0.3s;
}

.button.active {
  background-color: #f0f4ff;
  color: #2563eb;
}

.button:hover {
  background-color: #f0f4ff;
}